.school figure:hover div {
    opacity: 1;
    transform: scaleY(1);
}



.school ul {
    /*border: 1px solid green;*/


}

/*
.school li {
    text-align: left;

}*/

.school li::marker {
    content: "▶ ";

}